// color

.darttext p{
    color:black;

}
h4{
    color: gray;
}
h3{
    color: gray;
}

p{
    color: grey;
}
.conta p{
    color: black;
    }
    .darttext p{
        color:black;
    
    }
    .sectornftaksot p{
        color: black;
    }
    .sectornftaksot span{
        border-bottom: 1px solid black;
    }
    .midd h3{
        color:black;
    }


.textcol{color: black;

}

// color