

.truecola h3{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.truecolb h3{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.truecolc h3{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.truecold h3{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}