@import 'desktop';
@import 'mobile';
@import 'hover';
@import 'nomargin';
@import 'drowlingbuttonofhate';
body{
    font-family: 'Inter', sans-serif;
// padding-left: 80px;
} 
// color
.purpa{
    color: hotpink;
}
.goldtaxot{
    color: orangered;
}
// color

// <header>
header{
   
display: flex;
justify-content: space-between;
}
.lef{
    display: flex; 
   
}
.lef p{
    padding: 0.5rem;
}
// <header> 

//  sectorank  -1 sector
.sectorank{
display: flex;

}
.sectorank h1{
font-size: 4pc;
}

.sectorank img {
width: 57%;
}

.conta{
display: flex;
flex-direction: column;
}
.conta h1{
    font-size: 90px ;
margin-top: 0;
margin-bottom: 0;
}

.drowingbotton{
     width: 168px;
     height: 43px;
     background-color:white ;
  
}


//  sectorank 

// freensp
.freensp{
    border: 0.3pt solid rgb(11, 180, 11);
    border-radius: 18px;
    width: 1280px;
    height: 320px;
    background-image:url(/assets/background.svg) ;
    


}
// dark text
.darttext{
  
    padding-left: 15px;
    padding-right:50px;
    padding-bottom: 50px;
    padding-top: 150px;
}
.darttext h2{
    font-size: 27px;
}
// dark text

// freensp

// borda - 2 img firm
.borda{
    display: flex;
    padding: 5rem;
    padding-left: 0;

    justify-content: space-between;
}

// borda 

//  sectornftaksot - 3 nft + text

//  nftbad 
.nftbad {
    display: flex;
}
//  canca 
.canca{
    padding: 2rem;
    
}
//  textorex 
.textorex {
    display: grid;
    background-color: rgb(241, 237, 237);
    border-radius: 18px;
}
//  up 
.up{
    display:flex;
    justify-content: space-around;
}
//  up 

//  midd 
.midd{
    display:flex;
    justify-content: space-around; 
}
//  midd 

//  dawn 
.dawn{
    display:flex;
    justify-content: space-around;
}
//  dawn 

//  textorex 

//  canca 

// nftbad end

// sectornftaksot 

//  borda-text 
.borda-text{
    border-top: 4px solid rgb(248, 247, 247);
    display: flex;
    border-bottom: 4px solid rgb(248, 247, 247);
  
}
.borda-text .conta{
    display: flex;
    margin-right: 18rem;
}
.borda-text img{

    width: 200px;
    height: 465px;


}
//  borda-text

// flax

// imglogo

// imglogo

// boxtext
.boxtext{
    display: grid;
}
// textcol
.textcol{
    display: flex;
    color: red;
}
// textcol

// textrow
.textrow{
    display: flex;
}
// a
.truecola{
    display: grid;
}
// a

// b
.truecolb{
    display: grid;
}
// b

// c
.truecolc{
    display: flex;
    flex-direction: column;
}
// c

// d
.truecold{
    display: flex;
    flex-direction: column;
}
// d

// textrow

// boxtext