@import 'mobile';
// color
.purpa{
    color: hotpink;
}
// color

// <header>
header{
    padding: 2rem;
display: flex;
justify-content: space-between;
}
.lef{
    display: flex; 
   
}
.lef p{
    padding: 0.5rem;
}
// <header> 

//  sectorank  -1 sector
.sectorank{
display: flex;
padding-left: 80px;
}
.sectorank h1{
font-size: 4pc;
}

.sectorank img {
width: 60%;
}
.conta{

}

//  sectorank 

// freensp

// dark text

// dark text

// freensp

// borda - 2 img firm

// borda 

//  sectornftaksot - 3 nft + text

//  nftbad 

//  canca 

//  textorex 

//  up 

//  up 

//  midd 

//  midd 

//  dawn 

//  dawn 

//  textorex 

//  canca 

// nftbad end

// sectornftaksot 

//  borda-text 

//  borda-text

// flax

// imglogo

// imglogo

// boxtext

// textcol

// textcol

// textrow

// a

// a

// b

// b

// c

// c

// d

// d

// textrow

// boxtext